<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
    <div class="card mt-5">
      <div class="card-body">
        <div class="card-title d-flex justify-content-center">
          <h2>--- 店舗登録 ---</h2>
        </div>
        <%= form_with model: @store do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <%= render 'form', f: f %>
          <%= f.submit '登録', class: "btn btn-primary btn-block mt-4" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>