<div class="row-md-6 mt-5">
  <!--<div class="col-md-6 mt-5">-->
    <h4><mark>--SSC--サイトについて</mark></h4>
    <div class="about">
       <h4 class="text-center">
        Staff Sharing Community<br>
        <br>
        当サイトは「飲食店専用連絡サイト」です。<br>
        重要な内容が共有ができていなかったりしてませんか？<br>
        ここでは伝達や業務内容を共有したり確認することができます。<br>
        当サイトを利用するためには会員登録が必要です。<br>
        お手数ですが上部新規登録よりご登録をお願いします。<br>
        カテゴリーのチェックボタンでどんな連絡内容かを選択したり、<br>
        いいね機能があるので共有状況を確認できます。<br>
        業務の伝達ができていないという事態を減らすために連絡は大事だと考えています。<br>
        みんなでたくさん共有しましょう。<br>
        </h4>
      </div>
  </div>
</div>

<div class="text-right">
  <%= link_to "ホーム画面へ", root_path, class: "col-md-2 mr-5 btn btn-primary mt-4" %>
</div>