<h1>homes top</h1>

<% if current_employee && current_employee.stores.blank? %>
  <%= link_to "店舗が設定されていません.店舗を登録してください.", new_store_path, class: "btn btn-primary" %>
<% elsif current_employee %>
  <h3>店舗一覧</h3>
  <ul>
    <% current_employee.stores.each do |store| %>
      <li><%= link_to store.name, store_path(store) %></li>
    <% end %>
  </ul>
<% end %>
