<h1>homes top</h1>


<% if employee_signed_in? %>
<!--ボタンを作る記述-->
<!--ログアウトボタン後から消すこと-->
<li>
<%= link_to "ログアウト",destroy_employee_session_path, method: :delete %>
</li>
<% else %>
<li>
<%= link_to "ログイン", new_employee_session_path %>
</li>
<% end %>
