<!DCTYPE html>
<html>
  <head>
    <meta content="text/html: carsett=UTF-8" http-equv="Content-Type"/>
  </head>
  <body>
    <h1><%= @store.name %>より招待が来ています</h1>
    
    <p>下記 URLよりゆざ登録をしてください.</p>
    
    <p><%= link_to @url, @url %></p>
  </body>
</html>