<div class="row">
  <div class="col-md-12 offset-md-0 col-sm-8 offset-sm-2">
    <div class="card">
      <div class="card-body">
        <div class="card-title d-flex justify-content-center">
          <h2>--- 外注先登録 ---</h2>
        </div>
    <%= render "employees/vendors/form", store: @store, vendor: @vendor, submit_text: "登録", target_url: store_vendors_path(@store) %>
  </div>
</div>