<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
    <div class="card mt-4">
      <div class="card-body">
        <div class="card-title d-flex justify-content-center">
          <h2>--- 投稿編集 ---</h2>
        </div>
        <%= form_with model: @post, url: post_path(@post) do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <%= render 'employees/posts/form', f: f %>
          <div class="d-flex justify-content-center mt-3">
            <%= f.submit '投稿', class: "border border-warning btn btn-secondary"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>