<h1>投稿一覧　index</h1>
<h2>Employees Post </h2>

<% @posts.each do |post| %>
<span><%= post.employee.email %></span>
  <p>タイトル</p>
  <span><%= post.title %></span>
  <span><%= post.body %></span>
<% end %>
<!--<%#= link_to 'posts', employees_posts_path %>-->
<%= link_to 'piyopiyoアクセス', piyopiyo_path %>