<h1>Employees::Post#show</h1>
<p>Find me in app/views/employees/post/show.html.erb</p>

<span><%= @post.employee.email %></span>
  <p>タイトル</p>
  <span><%= @post.title %></span>
  <span><%= @post.body %></span>