<h1>admin homes Top</h1>

<% if admin_signed_in? %>
ログイン中
<% else %>
ログアウト中
<% end %>

<!--ボタンを作る記述-->
<%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
<%= link_to "ログイン", admin_session_path %>