<h1>admin homes Top</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>管理車名</th>
      <th>email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td><%= link_to "削除", admins_employee_path(employee), method: :delete, class: "btn btn-danger", data: { confirm: "削除しますか? "} %></td>
      </tr>
    <% end %>
  </tbody>
</table>